<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/home.css" />
</head>

<body>
    <div id="head">
        <h2>Create a new post:</h2>
        <form id="new-post-form" action="/post/create" method="post">
            <textarea name="content" id="post" cols="30" rows="3"></textarea>
            <button class="sub-btn" type="submit">Post</button>
        </form>
    </div>

    <div id="posts-container">
        <%for(let post of posts){%>
            <div id="post-<%=post._id%>" class="post">

                <div>

                    <div class="post-user">

                        <a href="/profile/<%=post.user._id%>" target="_blank">
                            <div class="user-avatar">
                                <img src="<%=post.user.avatar %>" alt="">
                            </div>
                            <span>
                                <% if(locals.user.id===post.user.id) {%>
                                    YOU
                                    <% }else{ %>
                                        @<%=post.user.name%>
                                            <% } %>
                            </span>
                        </a>
                        <div>
                            <div>
                                <% if(!(locals.user.id===post.user.id)) {%>
                                    <a href="/user/like/?objectId=<%=post._id %>&objectType=Post">
                                        <%if(post.isLiked){ %>
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <% } else { %>
                                                <i class="fa-regular fa-thumbs-up"></i>
                                                <% } %>
                                    </a>
                                    <% } else{%>
                                            <i class="fa-solid fa-thumbs-up" style="color: #c7c7c7;font-style: italic;"></i>
                                        <% } %>
                                            <span>
                                                <%=post.likesCount %>
                                            </span>
                            </div>
                            <div>
                                <% if(!(locals.user.id===post.user.id)) {%>
                                <a href="/user/dislike/?objectId=<%=post._id%>&objectType=Post">
                                    <%if(post.isDisliked){ %>
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <% } else { %>
                                            <i class="fa-regular fa-thumbs-down"></i>
                                            <% } %>
                                </a>
                                <% } else{%>
                                            <i class="fa-solid fa-thumbs-down" style="color: #c7c7c7;font-style: italic;"></i>
                                    <% } %>
                                <span>
                                    <%=post.dislikesCount %>
                                </span>
                            </div>
                        </div>
                    </div>

                    <p class="post-text">
                        <%=post.content%>
                    </p>

                    <% if(locals.user && locals.user.id==post.user.id) {%>
                        <a class="delete-link" href="/post/destroy/<%=post._id%>"><i
                                class="fa-solid fa-trash-can"></i></a>
                        <% } %>

                            <button class="comment-btn" type="button"><i class="fa-solid fa-message"></i>Comments<i
                                    class="fa-solid fa-caret-down"></i></button>

                            <div id="comments-container-<%=post._id %>" class="comment-container">
                                <% for(comment of post.comments){ %>
                                    <div id="comment-<%=comment._id %>" class="comment">
                                        <div>
                                            <i class="fa-solid fa-user"></i><span>@<%=comment.user.name %></span>
                                            <% if(locals.user && (locals.user.id==comment.user.id ||
                                                post.user.id==locals.user.id)){%>
                                                <a class="comment-delete-link" href="/comment/destroy/<%=comment._id%>">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                                <% } %>
                                        </div>
                                        <p>
                                            <%=comment.content%>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>

                </div>


                <% if(!(locals.user.id===post.user.id)) {%>
                    <form class="comment-form" action="/comment/create" method="post">
                        <textarea name="content" cols="45" rows="1" placeholder="Add a comment ..." required></textarea>
                        <input type="hidden" value=<%=post._id%> name="post_id" />
                        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                    <% }%>

            </div>

            <% } %>
    </div>
    <div id="chat-box">
        <div id="messages">
        </div>
        <form action="" id="message-form">
            <textarea type="textarea" name="content"  rows="1" placeholder="Type a message..."></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="../js/chat_engine.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
    <%if(locals.user){%>
    <script>
        new ChatEngine('chat-box', '<%=locals.user.email%>');
    </script>
    <%}%>
</body>

</html>